<template>
	<div class="hello">
		<h1>Kittens Seach Engine JS</h1>
		<label>Find the kitty</label>
		<input v-model="searchString">
		
		<div id="kittenlist" v-if="filteredKittenList.length > 0">
			<div v-for="(kitten, i) in filteredKittenList" :key="i">
				<span class="desc">{{ kitten.name }}</span>
				<img class="img" :src="kitten.img"/>
			</div>
		</div>
		<div v-else>
			<p style="text-align: center">
				<i>Kitten not found</i>
			</p>
		</div>
	</div>
</template>

<script>
	import GrumpyCat from '../assets/grumpy_cat.jpg';
	import CuteKitty1 from '../assets/cute_kitty1.jpg';
	import CuteKitty2 from '../assets/cute_kitty2.png';
	import CuteKitty3 from '../assets/cute_kitty3.jpg';

	let kittenList = [
		{name: "grumpy cat", img: GrumpyCat},
		{name: "cute sleepy kitty", img: CuteKitty1},
		{name: "cute kitty that judge you", img: CuteKitty2},
		{name: "cute red kitty", img: CuteKitty3},
	]

	export default {
		name: 'App',
		data: () => ({
			kittenList,
			searchString: ''
		}),
		computed: {
			filteredKittenList() {
				return this.kittenList.filter(e => e.name.includes(this.searchString))
			}
		}
	}
</script>
<style>
	#kittenlist {
		display: flex;
		flex-direction: column;
		margin: 10px 0;
	}
	
	#kittenlist > div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 10px 0;
		border-top: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	#kittenlist > div > .img {
		height: 70px;
	}
</style>
